
<div *ngIf="!cleartext;else translated_card" 
        class="card-text transliterate badge-container" [style.border-color]="highlight"
        >
        {{ word }}
        <span *ngIf="owner" class="badge" 
              [style.background-color]="badge_bg_color" [style.color]="badge_fg_color"> 
                {{display_owner}}
        </span>
</div>

<ng-template #translated_card>
        <div class="card-text showing-cleartext badge-container" [style.border-color]="highlight" >
                <div class="transliterate"> {{ word }} </div>
                <div class="cleartext">{{ cleartext }}</div>
                <span *ngIf="owner" class="badge" 
                      [style.background-color]="badge_bg_color" [style.color]="badge_fg_color"> 
                        {{display_owner}}
                </span>
        </div>
</ng-template>
