
@import "common_variables";

.card-text {
    width: $card-width;
    height: $card-height;
    font-size: 12px;
    border: $card-border-size solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showing-cleartext {
    flex-direction: column;
}

.showing-cleartext .transliterate {
    color: #777777;
    font-size: 0.8em;
}

.badge-container {
    position: relative;
}

.badge {
    right: -8px;
    top: -14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}


// .badge {
//     border-radius: 50%;
//     width: 50px;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     left: 20px;
//     top: -20px;
// }
