
<div id="title-container">
    <h1 class="title">Corpus</h1>
    <div [class.hidden]="!(show_cleartext$ | async)">
        Passa con il mouse sopra una frase per visualizzare la traduzione.
    </div>
    <div [class.hidden]="!(show_annotated$ | async)">
        Clicca qui per scaricare il <a [href]="annotated_url" target="blank">corpus annotato</a>.
    </div>
</div>

<div id="spinner-container" *ngIf="!(corpus$ | async);else main_content">
    <mat-spinner></mat-spinner>
    Caricamento...
</div>

<ng-template #main_content>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let sentence of corpus$ | async; let i=index" 
            class="sentence" [class.showing-cleartext]="show_cleartext$ | async"
        >
            <span class="sentence-number">{{i+1}}.</span>
            <span class="sentence-text transliterate">
                <span *ngFor="let token of sentence.text" class="sentence-token" [class.highlight]="token === (highlight$ | async)">
                    {{token}}
                </span>
            </span>
            <span class="cleartext">{{sentence.cleartext}}</span>
        </mat-list-item>
    </mat-list>
</ng-template>
