
.title {
    margin-right: 24px;
}

#title-container {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
    padding: 8px 0;
    text-align: end;
}

.sentence {
    margin: 8px;
    margin-bottom: 24px;
    height: auto !important;
}

.sentence:hover {
    background-color: #E6E6E6;
}
  
.sentence-number {
    margin-right: 8px;
}

.sentence-text {
    word-spacing: -1ch;
}

.sentence-token {
    margin-right: 1em;
}

.highlight {
    background-color: yellow;
}

.cleartext {
    display: none;
}

.showing-cleartext:hover {
    .transliterate {
        display: none;
     }

     .cleartext {
         display: unset;
     }
}
