
@import 'common_variables';

#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#bracelet-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#corpus-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

app-corpus {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
