
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'styles_override';

@font-face {
    font-family: 'wc_sold_out_a_btaregular';
    src: url('/assets/wcsoldoutabta-webfont.woff2') format('woff2'),
         url('/assets/wcsoldoutabta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: hidden;
}


.transliterate {
    // font-family: 'wc_sold_out_a_btaregular';
    font-family: monospace;
}

.hidden {
    display: none;
}
