<div id="activity-container">
    <div id="sentences-container">
        <div class="sentence" *ngFor="let sentence of sentences$ | async; let i=index">
            <div class="cards-container">
                <div class="sentence-heading"> Frase {{i+1}} </div>
                <div *ngFor="let card of sentence" class="card-container" (click)="sentence_card_clicked (card)">
                    <app-card [word]="card.text" [highlight]="selected_sentence_card === card ? 'orange' : ''"
                              [cleartext]="phase == 2 ? card.cleartext : ''"
                              [owner]="card.owner"
                    ></app-card>
               </div>
                <div class="drop-area" 
                    *ngIf="sentence.length<_SENT_MAX_LEN && phase==0" [id]="'sentence-'+i"
                    (dragover)="allow_drop($event)"
                    (drop)="drop_card($event, i, sentence.length)"
                    (click)="drop_card($event, i, sentence.length)"
                >
                </div>
            </div>
        </div>
        <div class="sentence" id="start-a-new-sentence" *ngIf="phase==0">
            <div class="cards-container">
                <div class="sentence-heading"> Nuova frase: </div>
                <div class="drop-area" 
                    id="new-sentence"
                    (dragover)="allow_drop($event)"
                    (drop)="drop_card($event, sentences.length, 0)"
                    (click)="drop_card($event, sentences.length, 0)"
                >
                </div>
            </div>
        </div>
    </div>
    <div id="hand">
        <div id="cards-heading">
            <h1>Le tue carte</h1>
        </div>
        <div class="cards-container">
            <div *ngFor="let card of cards$ | async; let i=index" class="card-container"
                [draggable]="phase == 0" (dragstart)="drag_start($event, card)" (click)="drag_start(null, card)"
                (dragend)="drag_end($event)">
                <app-card [word]="card.text" [highlight]="selected_card === card ? 'red' : ''"
                          [cleartext]="phase == 2 ? card.cleartext : ''"
                          [owner]="card.owner"
                ></app-card>
            </div>
        </div>
    </div>
</div>
