
@import 'common_variables';

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.sentence-heading {
    padding: $card-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card-container {
    padding: $card-padding;
}

#sentences-container {
    height: calc( 100vh - 187px );
    overflow-y: auto;
    overflow-x: hidden;
}

.sentence {
    margin-top: 16px;
    padding-bottom: 16px;
}

.drop-area {
    border: $card-border-size dotted black;
    width: $card-width;
    height: $card-height;
    margin: 8px;
}

#hand {
    position: sticky;
    bottom: 0px;
    background: #eee7d9;
    height: 187px;
    min-width: #{$min-cards-per-row * ($card-width + 2 * $card-padding + 2 * $card-border-size ) + $scrollbar-width};
    max-width: #{$max-cards-per-row * ($card-width + 2 * $card-padding + 2 * $card-border-size ) + $scrollbar-width};
    overflow-y: auto;
}

#cards-heading {
    position: sticky;
    z-index: 1;
    top: 0px;
    background: inherit;
}
